<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "slawek1.jpeg", width: 300, alt: "profile image" %>
  </div>
  <div class="col-md-8">
    <p>Aenean sit amet sagittis ex, sit amet dignissim diam. Cras euismod volutpat purus. Aenean sed scelerisque nibh, sed convallis nisi. Duis at venenatis ligula, eget tempor lorem. Proin lobortis felis orci, a tristique nunc pretium et. Curabitur dapibus nibh in suscipit semper. Phasellus a vehicula lorem, quis posuere nibh. Phasellus et egestas lacus. Mauris porttitor sem vel sem sollicitudin laoreet. Donec et libero mi.</p>
  </div>
</div>
